extends layouts/default

block content
  .row.marketing
    .col-lg-12
      h4 Добро пожаловать в систему безналичных платежей
      h4 Войдите в систему!
      form
        .form-group
          label(for="exampleInputEmail1") Адресс электронной почты
          input#exampleInputEmail1.form-control(type="email" placeholder="Email")
        .form-group
          label(for="exampleInputPassword1") Пароль
          input#exampleInputPassword1.form-control(type="password" placeholder="Пароль")
        button.btn.btn-primary(type="submit") Войти <br/>
        a(href="#" style="display:block;") Зарегестрироваться
